<!-- todos.erb -->

<header>
  <div id='header-left'>
    <h1>Todo List</h1>
    <h3>Add a Todo!</h3>
  </div>
  <div>
    <form action="/todos" method="POST" class="form">
      <input type="text" name="title"/>
      <input type="text" placeholder="dd/mm/yy" name="date"/>
      <input type="submit"/>
    </form>
  </div>
</header>

<section class='todos-container'>
  <div class='gallery'>
    <% @todos.each_with_index do |record,index| %>
    <div class='btn-container'>
      <h3>
      <a href="/todos/<%= index+1 %>" class="todo-box"><%= record[:todo]%></a>
        <%=record[:date] %> 
      </h3>
      <form method='POST' action='/todos/<%= index + 1 %>'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Delete'>
        </form>
    </div>
    <% end %>
  </div>
</section>